<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vote.name %>
</p>

<p>
  <b>Voted:</b>
  <%= @vote.voted %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
